<div id="dashboard">
  <header class="dashboard-kopf">
  <h1>Wetter in Deutschland</h1>
  </header>
  <!-- Die erste Zeile -->
  <section class="dashboard-zeile dia-zeile">
  <!-- Die erste Karte -->
  <mat-card id="karte01">
  <mat-card-title>
  Temperatur 
  </mat-card-title>
  <mat-card-subtitle>Durchschnittstemperaturen in Deutschland nach den Jahreszeiten (C°)</mat-card-subtitle>
  <mat-card-content>
  <app-diagramm01></app-diagramm01>
  </mat-card-content>
  </mat-card>
  <!-- Die zweite Karte -->
  <mat-card id="karte02">
  <mat-card-title>
  Niederschläge
  </mat-card-title>
  <mat-card-subtitle>Durchschnittliche Niederschlagsmenge in Deutschland nach den Jahreszeiten (mm)</mat-card-subtitle>
  <mat-card-content>
  <app-diagramm02></app-diagramm02>
  </mat-card-content>
  </mat-card>
  
  </section>
  <!-- Die zweite Zeile -->
  <section class="dashboard-zeile">
  <mat-card id="willkommen">
  <mat-card-title>
  Die allgemeinen Infos zum Thema
  </mat-card-title>
  <div class="text-wrap">
    <p>Das Klima in Deutschland ist im Allgemeinen mild und gemäßigt. Die Temperaturen variieren jedoch je nach Jahreszeit und Region. Im Sommer sind die Temperaturen in der Regel warm, während im Winter kalte Temperaturen herrschen. Die Niederschlagsmenge variiert ebenfalls je nach Jahreszeit und Region. Im Durchschnitt beträgt die Niederschlagsmenge im Frühling und Winter etwa 172 mm, 
      während sie im Sommer und Herbst etwa 208-212 mm beträgt</p>
  </div>
  </mat-card>
  </section>
  </div>